//  General styling
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

// Custom styling

#container {
	width: 720px;
	height: 300px;
	float: left;
	margin: 40px auto 0;
	background-image: url(./images/sky2.png);
	background-position: top center;
	background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 6px #000;
    #content {
        width: 425px;
        float: right;
        margin: 40px;
        text-align: center;
        z-index: 4;
        position: relative;
        overflow: visible;
    }
    h2 {
        font-family: 'Alfa Slab One', cursive;
        color: #FF9B71;
        font-size: 40px;
        line-height: 40px;
        text-shadow: 0px 0px 4px #fff;
        animation: delayed-fade-animation 7s 1 ease-in-out; /* This will fade in our h2 with a simulated delay */
    }
    h3 {
        font-family: 'Boogaloo', cursive;
        color: #444;
        font-size: 25px;
        line-height: 25px;
        text-shadow: 0px 0px 4px #fff;
        animation: delayed-fade-animation 10s 1 ease-in-out; /* This will fade in our h3 with a simulated delay */
    }
    form {
        width: 319;
        margin: 30px auto 0 auto;
        position: relative;
        animation: form-animation 12s 1 ease-in-out;  /* This will slide in our email address form with a cool elastic effect. This also has a simulated delay */
    }
    #email {
        width: 158px; 
        height: 50px;
        float: left;
        padding: 0 20px;
        font-size: 16px;
        font-family: 'Lucida Grande', sans-serif;
        color: #fff;
        text-shadow: 1px 1px 0px #ff773d;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid #ff773d;
        outline: none;
        box-shadow: -1px -1px 1px white;
        background-color: #FF9B71;
        background-image: linear-gradient(bottom, #FF9B71 0%, #ff773d 100%);
        &:focus {
            background-image: -webkit-linear-gradient(bottom, #ffbb9e 0%, #ffa985 100%);
            background-image: -moz-linear-gradient(bottom, #ffbb9e 0%, #ffa985 100%);
            background-image: -o-linear-gradient(bottom, #ffbb9e 0%, #ffa985 100%);
            background-image: linear-gradient(to top, #ffbb9e 0%, #ffa985 100%);
        }
    }
    #submit {
        height: 50px;
        float: left;
        cursor: pointer;
        padding: 0 20px;
        font-size: 20px;
        font-family: 'Boogaloo', cursive;
        color: #ff773d;
        text-shadow: 1px 1px 0px #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border:1px solid #ff773d;
        border-left: none;
        background-color: #fff;
        background-image: linear-gradient(bottom, rgb(245,247,249) 0%, rgb(255,255,255) 100%);
        &:hover {
            background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
            background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
            background-image: linear-gradient(to top, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
        }
    }
    ul {
        list-style: none;
        &#bumblebee {
            width: 249px;
            height: 215px;
            z-index: 2;
            position: absolute;
            bottom: 25px;
            left: 20px;
            overflow: visible;
            animation: bee-in-animation 3s 1 ease-out; /* Slides the group in when ad starts */
            li {
                width: 120px;
                height: 120;
                background-image: url(./images/bumble-bee-body2.svg);
                background-repeat: no-repeat;
                background-size: 100px;
                background-position: 50% 25%;
                position: relative;
                top: 20px;
                left: 0px;
                overflow: visible;
                animation: bee-animation 2s infinite ease-in-out; 
            }
        }
    }
    #wings {
        background-image: url(./images/wings2.svg);
        background-repeat: no-repeat;
        background-size: 60px;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 18;
        left: 5;;
        transform: rotate(-30deg);
        transform-origin: 100% 50%;        
        animation: bee-wings-animation 0.3s infinite ease-in-out;
    }
    li {
        &#grass-back {
            width: 1200px;
            height: 74px;
            background-image: url(./images/left-grass.png);
            background-repeat: repeat-x;
            background-size: 40px 55px;
            z-index: 1;
            position: absolute;
            bottom: 10px;
            transform: skew(-10deg);
            animation: grass-back-animation 3s infinite ease-in-out; 
        }
        &#grass-filler {
            width: 1200px;
            height: 84px;
            background-image: url(./images/left-grass.png);
            background-repeat: repeat-x;
            background-size: 30px 65px;
            z-index: 1;
            position: absolute;
            bottom: -12px;
            left: 10px;
            transform: skew(-5deg);
            animation: grass-filler-animation 4s infinite ease-in-out; 
        }
        &#grass-filler2 {
            width: 1200px;
            height: 84px;
            background-image: url(./images/left-grass.png);
            background-repeat: repeat-x;
            background-size: 30px 60px;
            z-index: 1;
            position: absolute;
            bottom: -12px;
            left: 40px;
            transform: skew(0deg);
            animation: grass-front-animation 3s infinite ease-in-out; 
        }
        &#grass-filler3 {
            width: 1200px;
            height: 80px;
            background-image: url(./images/left-grass.png);
            background-repeat: repeat-x;
            background-size: 50px 70px;
            z-index: 3;
            position: absolute;
            bottom: 0;
            left: 7px;
            animation: grass-front-animation 1s infinite ease-in-out; 
        }
        &#grass-front {
            width: 1200px;
            height: 158px;
            background-image: url(./images/left-grass.png);
            background-repeat: repeat-x;
            background-size: 50px;
            z-index: 3;
            position: absolute;
            bottom: -70px;
            left:-30px;
            animation: grass-front-animation 2s infinite ease-in-out; 
        }
        &.grass-bottom {
            background-color: #a0cd4e;
            bottom: -45px;
            left:-80px;
            position: absolute;
            z-index: 3;
            height: 85px;
            width: 120%;
        }
    }
    #clouds {
        position: absolute;
        top: 0px;
        z-index: 0;
        animation: cloud-animation 30s infinite linear; /* Scrolls the clouds off to the left, resets, and repeats */
    }
    #cloud-group-1 {
        width:720px;
        position: absolute;
        left:0px;
    }
    #cloud-group-2 {
        width: 720px;
        position: absolute;
        left: 720px;
    }
    .cloud-1 {
        width: 172px;
        height: 121px;
        background-image: url(./images/cloud-1.png);
        position: absolute;
        top: 10px;
        left: 40px;
    }
    .cloud-2 {
        width: 121px;
        height: 75px;
        background-image: url(./images/cloud-2.png);
        position: absolute;
        top: -25px;
        left: 300px;
    }
    .cloud-3 {
        width: 132px;
        height: 105px;
        background-image: url(./images/cloud-3.png);
        position: absolute;
        top: -5px;
        left: 530px;
    }
}

// ======================= Animations =========================

// Fade in
@keyframes delayed-fade-animation {
	0%   {
        opacity: 0;
    }
	80%  {
        opacity: 0;
    }
	100% {
        opacity: 1;
    }
}

// Slide in form
@keyframes form-animation {
	0% {
        opacity: 0; 
        right: -400px;
    }
	90% {
        opacity: 0; 
        right: -400px;
    }
	95% {
        opacity: 0.5; 
        right: 20px;
    }
	100% {
        opacity: 1; 
        right: 0px;
    }
}

// Animate clouds
@keyframes cloud-animation {
	0% {
        left: 0px;
    }
	99.9999% {
        left: -720px;
    }
	100% {
        left: 0px;
    }
}

// Bee animations
// slide bee into frame
@keyframes bee-in-animation {
	0% {
        left: -200px;
    }
	100% {
        left: 20px;
    }
}

//wiggle bee wings
@keyframes bee-wings-animation {
    0% {
        -moz-transform: skew(10deg);
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
    50% {
        -moz-transform: skew(-10deg);
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
    }
    100% {
        -moz-transform: skew(10deg);
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
}

// bee flying animation
@keyframes bee-animation {
	0%   {
        bottom: 0px; 
        left: 0px;
    }
	25%  {
        bottom: -2px; 
        left: -2px;
    }
	70%  {
        bottom: 2px; 
        left: -4px;
        }
	100% {
        bottom: -1px; 
        left: 0px;
    }
}

// Animate grass in the breeze
@keyframes grass-back-animation {
	0% {
        // left: -20px;
        -moz-transform: skew(-10deg);
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
    }
	25% {
        // left: -22px;
        -moz-transform: skew(-8deg);
        -webkit-transform: skew(-8deg);
        transform: skew(-8deg);
    }
	70% {
        // left: -24px;
        -moz-transform: skew(-6deg);
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
	100% {
        // left: -20px;
        -moz-transform: skew(-10deg);
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
    }
}

// Animate grass in the breeze
@keyframes grass-filler-animation {
	0% {
        // left: -20px;
        -moz-transform: skew(-5deg);
        -webkit-transform: skew(-5deg);
        transform: skew(-5deg);
    }
	25% {
        // left: -22px;
        -moz-transform: skew(-10deg);
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
    }
	70% {
        // left: -24px;
        -moz-transform: skew(-15deg);
        -webkit-transform: skew(-15deg);
        transform: skew(-15deg);
    }
	100% {
        // left: -20px;
        -moz-transform: skew(-6deg);
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
}

@keyframes grass-front-animation {
	0% {
        // left: -30px;
        -moz-transform: skew(0deg);
        -webkit-transform: skew(0deg);
        transform: skew(0deg);
    }
	25% {
        // left: -32px;
        -moz-transform: skew(2deg);
        -webkit-transform: skew(2deg);
        transform: skew(2deg);
    }
	70% {
        // left: -34px;
        -moz-transform: skew(4deg);
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }
	100% {
        // left: -30px;
        -moz-transform: skew(0deg);
        -webkit-transform: skew(0deg);
        transform: skew(0deg);
    }
}
